@font-face {
	font-family: 'DidoniURWDReg';
	src: url('../fonts/DidoniURWD-Reg.eot');
	src: url('../fonts/DidoniURWD-Reg.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DidoniURWD-Reg.woff') format('woff'),
		url('../fonts/DidoniURWD-Reg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Light.eot');
	src: url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Light.woff') format('woff'),
		url('../fonts/Gotham-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
