body[orient="portrait"]
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
html {
	overflow-x: hidden;
}
body {
	color: #2e3035;
	font-weight: normal; 
	font-family: 'Gotham';
}
a {
	text-decoration: none;
}
*:focus, *:hover {
    outline: none;
    border-color: inherit;
  	-webkit-box-shadow: none;
  	box-shadow: none;
}
* {
	-moz-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
	-o-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
	box-sizing: border-box;   /* Everything else */
}
.clear {
	clear: both;
}
section {
	position: relative;
	float: left;
	width: 100%;
	margin: 0px auto;
	z-index: 10;
}
.wrapper {
	width: 100%;
	max-width: 970px; 
	margin: 0px auto;
}
.custom_banner {
	width: 100%;
	float:left;
	overflow: hidden;
	
	video {
		position: relative;
		width: 100%;
		float:left;
		z-index: 1;
	}
	.white_transparent {
		position: absolute;
		right: 43%;
		top: 0px;
		height: 100%; 
		z-index: 2;
	}
	#animated_svg_border {
		height: 105%;
		position:absolute;
		top: 0px;
		width: auto;
		right: 43%;
		margin-right: -4px;
		margin-top: -8px;
		z-index: 3;
	}
}
.table {
	display: table;
	height: 100%;
	width: 100%;
	margin: 0px;
}
.cell {
	display: table-cell;
	vertical-align: middle;
}
.slick-initialized .slick-slide {
    display: block;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
	padding: 0px 30px;
}
.slick-list, .slick-track {
	height: 100%;
}
.custom_banner {
	position:relative;
	
	.carousel {
		position:absolute;
		width:50%;
		height:100%;
		overflow: hidden;
		top: 0px;
		left: 0px;
		h3 {
			font-size: 47px;
			line-height: 1; 
			letter-spacing: -1px;
			font-family: 'DidoniURWDReg';
			font-weight: normal;
			padding-bottom: 10px;
		}
		.btn {
			float:left;
			display: inline-block;
			margin: 15px 0px 10px 0px;
			background: #c59664;
			font-size: 14px;
			line-height: 16px; 
			padding: 4px;
			opacity: 1;
			em {
				float:left;
				font-style: normal;
				padding: 3px 25px;
				border: 1px solid #fff;
				color: #fff;
				transition: all 0.4s;
			}
			&:hover {
				cursor: pointer;
				em {
					border: 1px solid #c59664; 
					transition: all 0.4s;
				}
			}
		}
		p {
			opacity: 0; 
			width: 100%;
			display: inline-block;  
		}
		.parent_elements {
			width: 80%;
		}
		.for_space {
			display: inline-block;
		    width: 80%;
		    padding: 0px 20px;
		    text-align: center;
		}
		.counter {
			font-family: 'DidoniURWDReg';
			font-size: 107px;
			line-height: 1; 
			padding-bottom: 15px;
		}
		.line-separator {
			width: 10%; 
			border-bottom: 1px solid #2e3035;
			position:relative;
			top: -5px;
		}
		.slick-slide {
			i {
				display: inline-block !important;
				opacity: 0;
				font-style: normal;
			}
		}
	}
}
