/* DESKTOPS */
@media only screen and (min-width: 980px) {
	.custom_banner .carousel .counter {
	    font-size: 115px !important;
	}
}
@media only screen and (max-width: 980px) {
	.slick-slide {
	    padding: 0px 10px;
	    font-size: 12px;
	}
	.custom_banner .carousel .for_space {
	    padding: 0px 10px;
	    font-size: 12px;
	}
}
@media only screen and (max-width: 540px) {
	.custom_banner .carousel h3 {
	    padding-bottom: 5px;
	}
	.custom_banner .carousel .btn {
	    margin: 5px 0px 0px 0px;
	}
	.custom_banner .carousel .counter {
	    padding-bottom: 5px;
	}
}
@media only screen and (max-width: 480px) {
	.custom_banner .white_transparent,
	.custom_banner #animated_svg_border,
	.custom_banner .carousel {
    	display: none;
    }
}